html {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  height: 100vh;
}

.header {
  background: lightgray;
  color: #333;
  padding: .5vh;
  line-height: 6vh;
  vertical-align: middle;
}

.container {
  height: 93vh;
  overflow: auto;
}